services:
{{ template "metadata" . }}
{{ template "minio" . }}
{{ template "liquibase" . }}
{{ template "etl" . }}

{{- if eq .Database.Engine "postgres" -}}
{{- template "postgres" . }}
{{- end }}
{{- if eq .Database.Engine "sqlite" -}}
{{ template "sqlite" . }}
{{- end }}

volumes:
  db_data:
  storage_data:
