{{ define "liquibase" }}
  # Schema management (Liquibase)
  liquibase:
    image: {{ .Liquibase.Image }}
    depends_on:
      - {{ .Liquibase.Dependency }}
    volumes:
      - {{ .Liquibase.Changelog }}
      - {{ .Liquibase.Properties }}
      - {{ .Liquibase.Lib }}
    working_dir: {{ .Liquibase.WorkingDir }}
{{end}}
